/* crimson search bar for HOLLIS primary view */

/* advanced search code is in hvd_core.css */

/* they are separate b/c HOLLIS Images has different search bar coding */

prm-search-bar {
    background: linear-gradient(-46deg,#eb001b 0%,#a51c30 100%);
}

/* reorder searchbar */
prm-search-bar .search-element-inner .search-input {
    order: 2;
}
prm-search-bar .search-element-inner .search-options {
    order: 1;
}
prm-search-bar .search-element-inner .search-actions {
   order: 3;
}
   

/* search bar padding */
prm-search-bar > div:first-child > div:first-child > div:first-child,
prm-search-bar .search-wrapper > div:last-child {
  display: none !important;
}
prm-search-bar .advanced-mode + .search-switch-buttons {
  display: block !important;
}
prm-search-bar .layout-fill {
  max-width: 1402px;
  margin-left: auto;
  margin-right: auto;
 }
 prm-search-bar div.search-wrapper div.search-elements-wrapper {
	max-width: 930px;
}

/* helper text below search bar */
.hl__helper-text {
    max-width: 1402px;
    width: 100%;
    color: white;
    font-family: "Trueno", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* padding with chat widget is on screen */
@media (min-width: 769px) {
    prm-search-bar .layout-fill,
    .hl__helper-text {
        padding-right: 40px !important;
    }
}

/* keeping padding on small screens */
.__xs prm-search-bar {
	padding: 1em;
}


/* prevent scope selector tab from taking over 40% of searchbox on smaller screens */
.search-options.flex-sm-40.visible {
	flex: initial;
}


/* fixing padding and background on small screens */


 