/* via pages header */

#via-page-header .banner {
    background: linear-gradient(-46deg,#eb001b 0%,#a51c30 100%);
    color: #ffffff;
    height:65px;
    padding-right:20px;
    padding-left:20px;
    font-family: "Trueno", sans-serif;
}
#via-page-header .logo {
    padding-left:10px;
}
#via-page-header .logo h1 {
    vertical-align: top;
    padding-left: 10px;
    padding-top:20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 2.4px;

}
#via-page-header .metadataHeader {
    display: inline-block;
    padding-top: 11px;
    margin-left: 14px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* end via pages header */

/* nav buttons */
.hvdImgComponentView .imageNav {
    margin-top: 20px;
    margin-bottom: 0px;
}
.hvdImgComponentView .imageNav label {
	font-weight: 600;
	word-spacing: 2.5px;
}
.hvdImgComponentView .imageNav .md-button {
    background-color:#0579b8;
    color:#fff;
    width:40px;
    min-width:40px;
    height:40px;
    margin-left: 15px;
    margin-right: 15px;
}
.hvdImgComponentView .imageNav .md-button:hover,
.hvdImgComponentView .imageNav .md-button:focus {
    background-color:#2a5280;
}

/* thumbnail grid on full record page */
.hvd-via-record-page-grid md-grid-tile {
	background-color:transparent;
	box-shadow:none;
}

.hvd-via-record-page-grid md-card-content a:hover
.hvd-via-record-page-grid md-card-content a:focus {
	box-shadow:hone;
}
.hvd-via-record-page-grid md-grid-tile md-card-content a>img {
	border-bottom:3px solid transparent;
}
/* .hvd-via-record-page-grid md-grid-tile:focus md-card-content a>img,
.hvd-via-record-page-grid md-grid-tile:hover md-card-content a>img {
	border-bottom:3px solid rgba(5, 121, 184, 0.3);
} */
.hvfullsize {
    width:100%;
    height: auto;
}

.hv-md-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
}
.imageBox {
    height:150px;
    display: table-cell;
    padding:0px;
    margin-left:auto;
    margin-right: auto ;
    z-index:0;
    text-align: center;
}

.imageBox a {
	border:none;
	display: inline-block;
}

.imageBox > img {
    margin-left:auto !important;
    margin-right: auto !important;
    display: block !important;
}
/* this is the caption under grid, if applicable */
.imageTitle {
    width:185px;
    height:40px;
    line-height:15px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:10px;
    text-align: center;
    cursor:default;
}
.imageBox .imageTitle span:hover {
	/* border-bottom:3px solid rgba(5, 121, 184, 0.3); */
	color:#0579b8;
	cursor:pointer;
}
.lockIcon {
    display:block;
    position: absolute;
    margin-left:-11px;
    margin-top:-20px;
    z-index:5;
    width:25px;
    height:25px;
}

.lockIcon > img {
    width:25px;
    height:auto;
}
/* end thumbnail grid on full record page */

/* large image  page */
.hvd-via-full-image #iframe {
	width: 100%;
	height: 80vh;
	border: 1px solid lightgrey;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* go to main page button for users from curiosity */
div.parentImageLinkWrapper {
	padding-left: 40px;
    margin-top: 15px;
 }
 .hvdImgComponentView .full-view-inner-container  {
	margin-left:10%;
 }
 .hvdImgComponentViewMD {
	margin-top:20px;
	width:90%;
 }
 /* didn't finish css for below button, class not applied yet in prm-view-online-after.html */
 /* button to view all component metadata, from primo details page */
 .hvdImgGroupAllMetadata {
	color:#fff;
	background-color:#0579b8;
	font-weight:600px;
	border-radius:4px;
 }
 .hvdImgGroupAllMetadata:hover,
 .hvdImgGroupAllMetadata:focus {
	background-color:#2a5280;
 }


@media print {

    .hvfullsize {
        width: 100%;
        height: auto;
    }

}

/* rest was previously in custom-view-all-component-metadata.css */

#componentMetadata {
    padding:1% 10%;
    background: #ffffff;
    color:#000000;
}


.hv-toggle {
    text-align: right;
}

.hv-toggle > button {
    margin-bottom:10px !important;
    margin-top:0px !important;
}

.whiteBg {
    background:#ffffff;
}

.text-center {
    text-align: center;
}

.bigPadding {
    padding:30px;
}

.spaceTop {
    margin-top:10px !important;
}

hr {padding:0px; margin:0px;}

.space {
    margin-bottom: 5px;
}
.spaceBottom {
    margin-bottom:10px;
}
.padding10 {
    padding-bottom:10px;
}
