/* crimson search bar for HOLLIS */
/* advanced search code is in hvd_core.css */
/* they are separate b/c HOLLIS Images has different search bar coding */

prm-search-bar {
    background: linear-gradient(-46deg,#eb001b 0%,#a51c30 100%);
}
prm-browse-search-bar {
    background: linear-gradient(-46deg,#eb001b 0%,#a51c30 100%);
}
prm-browse-search-bar .classic-input .search-scope {
    background-color: #f3f3f3;
}
prm-browse-search-bar md-select ._md-select-icon {
    color:#0579b8;
    font-size:150%;
    size:10px;
}

@media (max-width: 599px) {
    prm-search-bar #searchBar {
        border: 2px solid grey;
    }
    .lcs_slide_out { display: none;}
}

@media (max-width: 768px) {
    .lcs_slide_out { display: none;}
}

/* changes to align with HL site and switch to VE adv search button placement change */
prm-search-bar .simple-search-wrapper .search-actions .md-button.button-confirm {
	background-color: #0579b8;
	color: white;
	font-family: "Trueno",sans-serif;
	padding: 1px 25px 0px 25px; 
	border:8px solid #fff;
	border-radius: 12px;
}
prm-search-bar .simple-search-wrapper .search-actions .md-button.button-confirm:after {
	content:"Search";
}
prm-search-bar .search-actions .md-button.button-confirm:hover:not([disabled]),
prm-search-bar .search-actions .md-button.button-confirm:focus:not([disabled]) {
	background-color: #2a5280;
}
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced, 
prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
	font-weight: 600;
}
prm-search-bar .search-switch-buttons {
	padding-top:0em;
}
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
	width: 100%;
	height: 60px;
	background-color:transparent;
}
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced span.layout-align-start-center {
	background-color:rgba(58, 58, 58, 0.15);
	padding: 4px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
}
prm-search-bar .search-switch-buttons .md-button.button-over-dark:not(.disable-hover):hover:not([disabled]):hover:not([disabled]),
prm-search-bar .search-switch-buttons .md-button.button-over-dark:not(.disable-hover):focus:not([disabled]):focus:not([disabled]) {
	background-color:#a51c30;
	border: 1px solid #eb001b;
	color:#fff
}
prm-search-bar .simple-search-wrapper .search-actions .md-button.button-confirm prm-icon {
	display:none;
}
/* magnify glass search in search box */
prm-icon md-icon svg[id^=magnifying-glass] {
	color:#a51c30;
 }
 md-autocomplete-parent-scope md-icon {
	opacity:0.4;
 }
 md-autocomplete-parent-scope svg[id^=magnifying-glass] {
	color:#000 !important;
 }
 
 .md-autocomplete-suggestions .highlight:hover {
	color:#000;
 }
 .md-autocomplete-suggestions .suggestion-scope:hover {
	color:#000;
 }
 ul.md-autocomplete-suggestions li.selected {
	text-decoration:underline;
 }
 @media only screen and (max-width: 900px) {
	.browse-button {
	    margin-top:30px;
	}
 
 }
 prm-tabs-and-scopes-selector md-input-container:hover,
 prm-tabs-and-scopes-selector md-input-container:focus {
	background-color: #e4e4e4;
 }
 prm-tabs-and-scopes-selector md-input-container:hover .md-text,
 prm-tabs-and-scopes-selector md-input-container:focus .md-text {
	text-decoration: underline;
 }
 prm-tabs-and-scopes-selector md-divider.skewed-divider:nth-child(1) {
	display: none;
 }
 prm-tabs-and-scopes-selector md-input-container.zero-margin:nth-child(2) {
	padding-left: 10px;
 }
 md-option.md-focused {
	text-decoration: underline;
 }

/* give search dropdown hover/focus the same treatmeant as nav links */
md-input-container md-select .md-select-value {
    padding: 2px;
}
prm-search-bar .simple-search-wrapper .search-options prm-tabs-and-scopes-selector.is-displayed md-input-container.md-input-focused {
    background: #e4e4e4;
}
prm-search-bar .simple-search-wrapper .search-options prm-tabs-and-scopes-selector.is-displayed md-input-container.md-input-focused .md-text {
    text-decoration: underline;
}
md-input-container:after {
    height: 0;
}

/* reorder searchbar */
prm-search-bar .search-element-inner .search-input {
    order: 2;
}
prm-search-bar .search-element-inner .search-options {
    order: 1;
}
prm-search-bar .search-element-inner .search-actions {
   order: 3;
}
   