
.hvd-via-record-page-grid md-grid-tile {
	background-color:transparent;
	box-shadow:none;
}

.hvfullsize {
    width:100%;
    height: auto;
}

.hv-md-card {
    padding-top: 0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    background: transparent !important;
}

.imageBox {
    height:150px;
    display: table-cell;
    padding:0px;
    margin-left:auto;
    margin-right: auto ;
    z-index:0;
    text-align: center;
}

.imageBox a {
	border:none;
}

.imageBox > img {
    margin-left:auto !important;
    margin-right: auto !important;
    display: block !important;
}

.imageTitle {
    width:185px;
    height:40px;
    line-height:15px;
    font-size:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    display: inline-block;
    margin-top:10px;
    text-align: center;
    cursor:default;

}
.lockIcon {
    display:block;
    position: absolute;
    margin-left:-11px;
    margin-top:-20px;
    z-index:5;
    width:25px;
    height:25px;
}

.lockIcon > img {
    width:25px;
    height:auto;
}
.nophoto {
    width:148px;
    height:148px;
    text-align: center;
    background:#efefef;
    line-height:148px;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
}
@media print {

    .hvfullsize {
        width: 100%;
        height: auto;
    }

}
