/* for alma digital viewer */
prm-alma-viewer prm-topbar > div.top-nav-bar {
    background-color:#000;
    padding: 0px 0 0px;
    margin-top: 0px;
}
prm-alma-viewer div.product-logo {
    display:inline-block;
}
prm-alma-viewer div.product-logo img {
    width:130px;
}
prm-alma-viewer prm-topbar .isDeposit {
    display:block;
}
prm-alma-viewer prm-user-area-expandable .md-button.user-button, 
prm-alma-viewer prm-user-area-expandable .md-button.button-with-menu-arrow, 
prm-alma-viewer prm-user-area-expandable .md-button.button-with-menu-arrow:not(.button-with-icon), 
prm-alma-viewer prm-topbar prm-user-area-expandable .md-button:not(.close-btn-favorits-warning-message):not(.md-icon-button) {
    color:#fff;
}
md-dialog.session-expiry-warning-dialog.md-transition-in {
    background-color:#fff;
}
md-dialog.session-expiry-warning-dialog md-divider {
    display:none;
}
md-dialog.session-expiry-warning-dialog button {
    font-weight:bold;
}
#early-checkout-button {
    font-weight: bold;
}