<!-- HEADER -->


<!-- BODY -->
<h2 translate="nui.email.institutionNote"></h2>

<h2 ng-if="$ctrl.parentCtrl.note">
    <b translate="email.note"></b> {{$ctrl.parentCtrl.note}} 
</h2>



<div id="email-template-items">
	<div ng-if="$ctrl.parentCtrl.fullViewLoaded" 	ng-repeat="item in $ctrl.parentCtrl.delayedItems">
	
			<prm-full-result-container>                                                        
									[item]="item"
									display-mode="email"
									(load-email-template-event)="$ctrl.parentCtrl.popItem()">
			</prm-full-result-container>
	</div>
	<hr>
	<p></p>
	<p></p>
</div>



<div>
<p style="font-size:small;" translate="nui.email.disclaimer"></p>
</div>
