<!-- prm-alma-viewit-items-after.html -->

<!-- single image -->

 <!-- class 'via-alma-viewit' prevents the OTB service list from displaying via css -->
<div class="via-alma-viewit" ng-if="vm.singleImageFlag">

	<!-- so users have another option if restricted image doesn't display -->
	<div class="hvd-img-open-in-new">
		<a target="_blank" href="{{vm.parentCtrl.item.pnx.display.lds67[0]}}?buttons=Y">Open image in new tab</a>
	</div>
	
	<div class="lockIcon" ng-if="vm.imageRestricted" tabindex="-1">
		<img src="/discovery/custom/01HVD_INST-HVD2/img/icon_lock25.png" class="md-avatar" alt="Restricted to HarvardKey"/>
	</div>

	<div layout="column" layout-align="center center" class="hvd-via-full-image">
		<iframe id="iframe" name="{{vm.iframeAttributes.name}}" ng-src="{{vm.iframeAttributes.src}}"
			height="{{vm.iframeAttributes.height}}" width="{{vm.iframeAttributes.width}}"
			title="{{vm.iframeAttributes.title}}" frameborder="{{vm.iframeAttributes.frameborder}}"
			marginwidth="{{vm.iframeAttributes.marginwidth}}"
			marginheight="{{vm.iframeAttributes.marginheight}}" scrolling="{{vm.iframeAttributes.scrolling}}"
			allowfullscreen="{{vm.iframeAttributes.allowfullscreen}}">
		</iframe>
	</div>

</div>


<!-- view all metadata button  -->
<div ng-if="vm.componentJSON.length > 1" class="hvfullsize">
    <div layout="column" layout-align="center center">
     	<button class="hvd-view-all-component-md" ng-click="vm.viewAllComponentMetaData()" tabindex="0">
        		VIEW ALL COMPONENT METADATA
		</button>
     </div>
</div>


<!-- multiple images -->
  <!-- class 'via-alma-viewit' prevents the OTB service list from displaying via css -->
<div class="hvd-via-record-page-grid via-alma-viewit" ng-if="vm.componentJSON.length > 1">

	<md-grid-list md-row-height="230px" md-cols="4">
		<md-grid-tile ng-repeat="item in vm.componentJSON track by $index" ng-click="vm.gotoFullPhoto($event,item,$index)">
			<md-card class="hv-md-card">
				<md-card-content class="imageBox">
					<a title="{{vm.componentJSON[$index].L[0]}}" aria-label="image {{$index + 1}} {{vm.componentJSON[$index].L[0]}}">
						<img ng-src="{{vm.componentJSON[$index].U[0]}}:THUMBNAIL" class="md-card-image" alt=""/>
						<div class="lockIcon" ng-if="vm.componentJSON[$index].X[0]" tabindex="-1">
							<img src="/discovery/custom/01HVD_INST-HVD2/img/icon_lock25.png" class="md-avatar" alt="Restricted to HarvardKey"/>
						</div>
					</a>
					<div class="imageTitle" ng-if="vm.componentJSON[$index].L[0]">
						<span>{{vm.componentJSON[$index].L[0]}}</span>
					</div>
					<div class="imageTitle" ng-if="vm.componentJSON[$index].T[0] && !vm.componentJSON[$index].L[0]"">
						<span>{{vm.componentJSON[$index].T[0]}}</span>
					</div>
				</md-card-content>
			</md-card>
		</md-grid-tile>
	</md-grid-list>

</div>

<!-- legancy SKC-->
 <!-- class 'via-alma-viewit' prevents the OTB service list from displaying via css -->
<div class="hvd-via-record-page-grid via-alma-viewit" ng-if="vm.skcLinks.length > 0">

	<md-grid-list md-row-height="425px" md-cols="3">
		<md-grid-tile ng-repeat="item in vm.skcLinks track by $index">
			<md-card class="hv-md-card">
				<md-card-content class="imageBox">
					<a href="{{vm.skcLinks[$index].serviceUrl}}:VIEW" title="{{vm.skcLinks[$index].packageName}}">
						<img style="height:375px" ng-src="{{vm.skcLinks[$index].serviceUrl}}" class="md-card-image" alt=""/>
					</a>
					<div ng-if="vm.skcLinks[$index].packageName">
						<span>{{vm.skcLinks[$index].packageName}}</span>
					</div>
				</md-card-content>
			</md-card>
		</md-grid-tile>
	</md-grid-list>

</div>

<!-- end prm-alma-viewit-items-after.html -->