<!-- for via record -->
<div ng-if="vm.isVIArecord" class="spaced-rows">
    <div>
        <a class="arrow-link md-primoExplore-theme" href="http://nrs.harvard.edu/urn-3:hul.ois:portal_copyright_images" target="_blank">
            <span>Copyright and Permissions</span> 
        </a>
    </div>
</div>

<!-- search hathitrust link for books -->
<div ng-if="vm.showHathiLink" class="spaced-rows">
    <div ng-show="vm.searchHathiLink">
        <a class="arrow-link md-primoExplore-theme" href="{{vm.searchHathiLink}}" target="_blank">
            <span>Try HathiTrust (HarvardKey)</span>            
        </a>

    </div>
</div>

<!-- The html below is used for Digital Bookplates component -->
<ul ng-if="vm.hasPlates" class="serviceLink">
    <li ng-repeat="rec in vm.plateList track by $index">
        <md-card class="serviceLinkBox">
            <md-card-title-text class="serviceLinkSpace">
                <a class="arrow-link md-primoExplore-theme" href="https://nrs.harvard.edu/urn-3:hul.EBKPLL:{{rec.name}}" target="_blank">
                    <span>Acquired by the {{rec.label}}</span>
                </a>
            </md-card-title-text>
            <md-card-title-media>
                <div layout="row" layout-align="start start" class="md-media-md card-media">
                    <a href="https://nrs.harvard.edu/urn-3:hul.EBKPLL:{{rec.name}}" target="_blank" class="serviceLinkImage">
                        <img src="https://nrs.harvard.edu/urn-3:hul.EBKPLT:{{rec.name}}" class="serviceLinkPhoto" />
                    </a>
                </div>
            </md-card-title-media>
        </md-card>
    </li>
</ul>

<!-- Alma-D auxilliary images -->

<div class="hvd-embed-uv" ng-if="vm.almaDaux">
    <div>
        <div layout="row" class="layout-row" style="margin-bottom:5px;">
            <h4 class="section-title md-title light-text" >Sample Content</h4>
            <!-- <md-divider flex="" class="md-primoExplore-theme flex"></md-divider> -->
        </div>
    </div>
    <div ng-if="vm.almaDaux">
        <iframe
            ng-src="{{vm.almaDauxEmbed}}"
            sidebarOpen=" true" allowfullscreen fullscreenEnabled="true" textContent="true" frameborder="0">
        </iframe>
    </div>
</div>


<!-- if VIA record, add div with custom class to use in css:has so we can hide online access link for via records  -->
<div ng-if="vm.isVIArecord" class="hvd-hide-VIA-otb-online-button"></div>