<div layout="row" role="document" class="layout-row">
	
	<md-content class="main _md md-primoExplore-theme flex-md-30 flex-lg-25 padded-container layout-row flex-xl-20" style="overflow-y: hidden; display: block" layout="row"  flex-md="30" flex-lg="25" flex-xl="20" >
		<div ng-if="!$ctrl.facetToLeft" flex="0" flex-md="0" flex-lg="10" flex-xl="20" class="flex-xl-20 flex-md-0 flex-lg-10 flex-0"></div>

	</md-content>

	<md-content class="main _md md-primoExplore-theme flex" flex="">
		<div class="padding-medium flex-xl-50 flex-md-50 flex-lg-50" flex-md="50" flex-lg="50" flex-xl="50" >
			<md-card class="default-card _md md-primoExplore-theme">
				<md-card-title>
					<h2>Trial feature:</h2>
				</md-card-title>
				<md-card-content>
					
					<form ng-submit="performSearch()">
						<div class="form-group">
						<label for="searchInput">Title starts with:</label>
						
						<!-- 
							ng-model binds this input's value to the 'searchQuery'
							variable in our controller's $scope.
						-->
						<input 
							type="text" 
							id="searchInput"
							ng-model="searchQuery"
							placeholder="e.g., Studies in English Lit"
							required>
						</div>
						
						<button class="md-button button-as-link" type="submit">Search</button>
					</form>
				</md-card-content>
			</md-card>
		</div>
	</md-content>

</div>
