<!-- <div id="hvd-adv-lang" layout-align="end center"> -->

<div id="hvd-adv" layout="row" class="display-black layout-row" style="width: 100%;" >

	<md-tabs flex md-dynamic-height md-selected="vm.selectedIndex" ng-class="{'tab-is-open': vm.selectedIndex !== -1}">
		<md-tab ng-repeat="tab in vm.tabs" md-on-select="vm.onTabSelected(tab)"
			md-on-deselect="vm.announceDeselected(tab)" ng-disabled="tab.disabled">
			<md-tab-label>
				{{tab.title}}
				 <!-- <img src="https://icongr.am/clarity/close.svg?size=16&color=currentColor" ng-click="vm.removeTab(tab)" class="delete" alt="Remove tab"> -->
			</md-tab-label>
			<md-tab-body>
				 <div ng-if="tab.id === 'advHelpTabGuide'">
						<p>The <a href="https://guides.library.harvard.edu/hollishelp">HOLLIS User Guide</a> has numerous tips & tricks on using HOLLIS. The page on <a href="https://guides.library.harvard.edu/hollishelp/advanced">Advanced Search</a> explains the precision search options and provides numerous examples. A summary is included here for quick reference:</p>

					<p>Coming soon</p>


				 </div>
				  <div ng-if="tab.id === 'advHelpTabLang'">

						<!-- <span>Language code reference table</span>
						<ol>
							<li>Find the language by typing in the search box below and options will be presented to you</li>
							<li>Each entry includes a 3-character language code in brackets</li>
							<li>Identify your code, and in the Search Options above, use the dropdowns to choose field "Code: MARC language" and then enter the language code you wish to search </li>
							<li>Some microlanguges are grouped into macrolanguges and are listed with their cross-references, .e.g. 'Aztec -- use Nahuatl [nah]'</li>
						</ol> -->

						<input 
						type="text"
						class="search-input"
						placeholder="Type a language name to filter list"
						ng-model="vm.searchText"
						autocomplete="off" >

						<span>Select a 3-character code to copy it to your clipboard</span>
						

						<div ng-if="vm.copyMessage" class="feedback-message"
							ng-class="vm.copyStatus === 'success' ? 'feedback-success' : 'feedback-error'">
							{{ vm.copyMessage }}
						</div>

						<div>
							<ul class="results-list" >
								<li ng-repeat="language in vm.languages | filter:vm.searchText" >
									<div class="lang-entry">
										<span class="lang-name">{{ language.name }}</span>
										<span class="lang-code" ng-click="vm.copyCodeToClipboard(language)">{{ language.code }}</span>
									</div> 
								</li>
								<li ng-if="(vm.languages | filter:vm.searchText).length === 0">
									No results found
								</li>
							</ul>
						</div>

					
				 </div>
				  <div ng-if="tab.id === 'advHelpTabPub'">

					<p>Coming soon</p>
					
				 </div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
	<!-- 3. NEW BUTTON: This 'X' button appears to the right of the tabs. -->
        <md-button class="md-icon-button close-button" aria-label="Close tab"
                   ng-if="vm.selectedIndex !== -1"
                   ng-click="vm.closeActiveTab()">
            <md-icon md-svg-icon="primo-ui:close" role="presentation" class="md-primoExplore-theme"></md-icon>
        </md-button>


</div>